<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>framework</title>
    </head>
    <body>
        <div><%= NODE_ENV %></div>
        <div id="root"></div>
        <% if (NODE_ENV === 'development') { %>
        <script src="static/js/index.js"></script>
        <% } %>
    </body>
</html>
